<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Create an item list</h4>
                        <p class="card-category">Select the items you needed</p>
                        <button mat-raised-button style="font-weight: bolder;"  (click)="addToPending()"
                            class="btn btn-info  pull-right">Submit list</button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <app-order-now-form></app-order-now-form>
                            </div>
                            <div class="col-md-6">
                                <app-order-now-itemslits></app-order-now-itemslits>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>