<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <!-- lnik to developers website -->
                    <a href="#">
                        Code_4
                    </a>
                </li>
                <li>
                    <!-- lnik about us -->
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <!-- link to developers blogs -->
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li>
                    <!-- link to license -->
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a href="#" target="_blank">CODE_4</a> for a Project of SLIIT.
        </div>
    </div>
</footer>
