<!-- order request form -->

<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id"  #id="ngModel" [(ngModel)]="service.formData.id" >
    
    <div class="row">
        <div class="col-md-12">
            <h4>Choose a category</h4>
            <select name="categoryName" #categoryName="ngModel" [(ngModel)]="service.formData.categoryName" class="form-control" required>
                <option value="Aluminium">Aluminium</option>
                <option value="Brick (clay)">Brick (clay)</option>
                <option value="Concrete">Concrete</option>
                <option value="Fibre cement sheeting">Fibre cement sheeting</option>
                <option value="Glass">Glass</option>
                <option value="Mudbrick">Mudbrick</option>
                <option value="Plasterboard">Plasterboard</option>
                <option value="Plastics">Plastics</option>
                <option value="Steel">Steel</option>
                <option value="Stone and composite stone">Stone and composite stone</option>
                <option value="Straw bale">Straw bale</option>
                <option value="Timber">Timberv</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Choose an Item</h4>
            <select name="productName" #productName="ngModel" [(ngModel)]="service.formData.productName" class="form-control" required>
                <option value="item1" >Item 1</option>
                <option value="item2">Item 2</option>
                <option value="item3">Item 3</option>
                <option value="item4">Item 4</option>
                <option value="item5">Item 5</option>
                <option value="item6">Item 6</option>
                <option value="item7">Item 7</option>
                <option value="item8">Item 8</option>
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <mat-form-field appearance="fill">
                <mat-label>Remark</mat-label>
                <input name="remark" #remark="ngModel" [(ngModel)]="service.formData.remark" class="form-control" matInput placeholder="Remark">
            </mat-form-field>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <mat-form-field appearance="fill">
                <mat-label>quantity</mat-label>
                <input name="quantity" #quantity="ngModel" [(ngModel)]="service.formData.quantity" class="form-control" matInput placeholder="Quantity">
            </mat-form-field>
        </div>
    </div>


    <button mat-raised-button type="submit" class="btn btn-danger ">Add item</button>
    

</form>






