<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div id="firstCardView" class="card" style="margin-bottom: 3cm;">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" id="textAlline">Special Requested Order - #ro032548952</h4>
                        <h3 class="card-category" id="textAlline">Total Cost : Rs 124 500/=</h3>
                        <p class="card-category" id="textAlline">Pending</p>
                    </div>
                    <div class="card-body">
                        <h4>Project : Port City Project </h4>
                        <h4>Target date to be Dellivered : 2020/11/05</h4>
                        <h4>Project Manager : A.D.S de Zoysa</h4>
                        <div class="row">
                            <table class="table table-hover">
                                <thead>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Qty</th>
                                    <th>Renark</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Matel</td>
                                        <td>Stones</td>
                                        <td>50 Cubes</td>
                                        <td>Black Metal</td>
                                    </tr>
                                    <tr>
                                        <td>Roofing Sheets</td>
                                        <td>Steel</td>
                                        <td>150</td>
                                        <td>Elcoardo brand</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row" style="text-align: center;">
                            <button class="btn" >Approve Request</button>
                        </div>
                        <div class="row" style="text-align: center;">
                            <button class="btn" >Reject Request</button>
                        </div>
                        <div class="row" style="text-align: center;">
                            <button class="btn" >Contact Site Manager</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>