<!-- background Image -->
<img src="./assets/img/loginBgImage1.jpg" id="bagroundImage" style="opacity: .5;">
<div class="row">
    <div class="col-md-12">
        <div class="row">

            <!--Screen row divided into several columns -->
            <div class="col-md-4"></div>
            <div class="col-md-4" id="divCol1">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 bg-info" id="divCol2">

                        <!-- login heddin -->
                        <h2 style="color: aliceblue;">Login</h2>

                        <!-- login form -->
                        <form #form="ngForm"  autocomplete="off">

                            <!-- user input for the login (mobile number) -->
                            <div class="form-group">
                                <label for="username" style="color: black;">Phone Number</label>
                                <input type="text" name="Contact" [(ngModel)]="form.value.Contact"/> 
                            </div>

                            <!-- user input for the login (password) -->
                            <div class="form-group">
                                <label for="password" style="color: black;">Password</label>
                                <input type="password" id="Password" name="Password"  [(ngModel)]="form.value.Password" />
                            </div>

                            <!-- space for login and registration -->
                            <div class="form-group">
                                <!-- login button  -->
                                <button [disabled]="loading" type="button" class="btn btn-success" (click)="onSubmit(form)">Login</button>
                               
                                <!-- Regisstration button  -->
                                <a [routerLink]="['/register']" class="btn btn-link" style="color: red;">Register</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>