/* Style the backgroung image: 100% width and height to cover the entire window */
#bagroundImage {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  #divCol1{
    margin-top: 180px;
    opacity: .8; 
    border-radius: 35px; 
    text-align: center;
  }
    
  #divCol1{
    border-radius: 35px;
  }

  