<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title" id="textAlline">Requested Order</h3>
                        <h4 class="card-title" id="textAlline">Total Cost : Rs: 66 500/=</h4>
                        <h5 class="card-title" id="textAlline">Order Reference : #ro12324565</h5>

                        <p class="card-category" id="textAlline">Pending</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <h3 id="textColor">List of Items</h3>

                            <table class="table table-hover">
                                <thead>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Qty</th>
                                    <th>Renark</th>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let lists of list">
                                        <td >{{lists.productName}}</td>
                                        <td >{{lists.categoryName}}</td>
                                        <td >{{lists.quantity}}</td>
                                        <td >{{lists.remark}}</td>
                                       </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title" id="textAlline">Requested Order</h3>
                        <h4 class="card-title" id="textAlline">Total Cost : Rs: 25 400/=</h4>
                        <h5 class="card-title" id="textAlline">Order Reference : #ro15554565</h5>

                        <p class="card-category" id="textAlline">Approved</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <h3 id="textColor">List of Items</h3>

                            <table class="table table-hover">
                                <thead>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Qty</th>
                                    <th>Renark</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tempered Glass</td>
                                        <td>Glasses</td>
                                        <td>40</td>
                                        <td>10*10 size</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>