<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header-info" style="text-align: center;">
                        <h1 class="card-title " style="color: black; text-transform: uppercase;">Employee Management (Procument)
                        </h1>
                    </div>
                    <div class="card">
                        <div class="card-header card-header-info">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="card-link btn btn-sm btn-outline-danger ybtn"
                                                (click)="AddOrEditEmployees(null)" mat-raised-button>
                                                <i class="material-icons">add_to_photos</i> Add an employee
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Dull Name
                                        </th>
                                        <th>
                                            Designation
                                        </th>
                                        <th>
                                            Project
                                        </th>
                                        <th>
                                            Site Address
                                        </th>
                                        <th>
                                            Nic
                                        </th>
                                        <th>
                                            Contact
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Password
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let emp of list">
                                            <td>
                                                {{emp.EmployeeID}}
                                            </td>
                                            <td>
                                                {{emp.FullName}}
                                            </td>
                                            <td>
                                                {{emp.Designation}}
                                            </td>
                                            <td>
                                                {{emp.projectName}}
                                            </td>
                                            <td>
                                                {{emp.SiteAddress}}
                                            </td>
                                            <td>
                                                {{emp.Nic}}
                                            </td>
                                            <td>
                                                {{emp.Contact}}
                                            </td>
                                            <td>
                                                {{emp.Email}}
                                            </td>
                                            <td>
                                                {{emp.Password}}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
