<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id"  #id="ngModel" [(ngModel)]="service.formData.id" >
    <div class="row">
        <div class="col-md-12">
            <h4>Choose a category</h4>
            <select name="categoryName" #categoryName="ngModel" [(ngModel)]="service.formData.categoryName" class="form-control" required>
                <option value="Category1" >Category 1</option>
                <option value="Category2">Category 2</option>
                <option value="Category3">Category 3</option>
                <option value="Category4">Category 4</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Choose an Item</h4>
            <select name="productName" #productName="ngModel" [(ngModel)]="service.formData.productName" class="form-control" required>
                <option value="item1" >Item 1</option>
                <option value="item2">Item 2</option>
                <option value="item3">Item 3</option>
                <option value="item4">Item 4</option>
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <mat-form-field appearance="fill">
                <mat-label>Remark</mat-label>
                <input name="remark" #remark="ngModel" [(ngModel)]="service.formData.remark" class="form-control" matInput placeholder="Remark">
            </mat-form-field>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <mat-form-field appearance="fill">
                <mat-label>quantity</mat-label>
                <input name="quantity" #quantity="ngModel" [(ngModel)]="service.formData.quantity" class="form-control" matInput placeholder="Quantity">
            </mat-form-field>
        </div>
    </div>


    <button mat-raised-button type="submit" class="btn btn-danger ">Add item</button>
    

</form>






